{% extends "layout.html.twig" %}

{% block title %}О нас{% endblock %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #009688;" >
      <div class="container">
        <a class="navbar-brand" href="/">Рожки&Ножки</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Список домов</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comp">Жалобы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/req">Обращения к специалистам</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">О нас<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <center>
      <h2>Тут я хотел что-то написать умное, но пусть тут будет гусь...</h2>
      <img src="img/goose.jpg">
    </center>
    <br>
    </div>
{% endblock %}